.site-header {
  font-family: Roboto;

  &__wrapper {
    width: 100%;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: bold;
  }

  .nav {
    &__wrapper {
      list-style: none;
      display: flex;
    }

    &__item {
      padding: 10px 15px;
      opacity: 1;
      transition: all ease-in 100ms;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
